table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
}

#bor{
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;

}
#eli{
    border: 2px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;

}
h1{
    text-align: center;
    font-family: cursive;
}