body {
    margin: 0; 
}

.menu {
    position: absolute;
    background-color: rgb(149, 0, 255);
    height: 15%;
    width: 100%;
    
    top: 0;
}

.body {
    

    height: 80%; 
    width: 100%;
    top: 20%;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-bottom: 5%;
 
    
    
}

.footer {
    background-color: black;
    height: 10%;
    width: 100%;
    bottom: 0px;
    text-align: center;
    position: fixed;
}
